h2.header {
    text-align: start;
}


.input-group-addon {
    position: absolute;
    right: 10px;
    top: 2px;
    cursor: pointer;
    color: #0d6efd;
}

.wd-starship {
    max-width: 100%;
    height: auto;
}

.wd-verified-icon {
    width: 16px;
    height: 16px;
    object-fit: cover;
    object-position: 50% 50%;
    margin-top: -3px;
}

.wd-image-icon {
    width: 15%;
    height: 15%;
}

.wd-verified-icon {
    filter: invert();
}

