* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,
body {
    background-color: black;
    height: 100%;
}

.wd-wireframe {
    height: 100%;
}

.wd-column-left {
    display: inline-block;
    position: fixed;
    top: 0px;
    width: 24.75%;
    height: 100%;
    border-right: 0.5px solid;
    border-color: rgb(47, 51, 54);
}

.wa-column-middle {
    position: relative;
}

.wd-column-right {
    display: inline-block;
    position: fixed;
    top: 0px;
    width: 20%;
    margin-left: 66.25%;
    height: 100%;
    border-left: 0.5px solid;
    border-color: rgb(47, 51, 54);
}

.wd-top-row {
    display: inline-block;
    position: fixed;
    top: 0px;
    margin-left: 24.7%;
    height: 13.5%;
    width: 41.6%;
    border-bottom: 0.5px solid;
    border-color: rgb(47, 51, 54);
    margin-bottom: 5px;
}

.search {
    display: inline-block;
    margin-left: 20px;
    margin-top: 4.5px;
    padding: 13.9px;
    padding-left: 55px;
    padding-right: 282px;
    border-radius: 50px;
    border: none;
    line-height: 15px;
    font-size: 15px;
    background-color: rgb(32, 35, 39);
    caret-color: white;
    letter-spacing: 0.02em;
    text-decoration-color: white;
    color: white;
}

.search:focus {
    outline: none !important;
    border: 1px solid rgb(29, 155, 240);
    background: black;
}

.fa-search {
    float: left;
    margin-left: 40px;
    margin-top: 18.5px;
    position: fixed;
    z-index: 2;
    color: rgb(110, 118, 125);
}

.fa-cog {
    float: right;
    margin-top: 19px;
    margin-right: 12px;
    color: rgb(29, 161, 241);
}

.wd-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 15px;
    padding: 16px;
    margin-top: 5px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
}

.wd-explore {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(110, 118, 125);
}

.wd-explore:focus {
    color: white;
    font-weight: 600;
    border-bottom: 4px solid rgb(29, 161, 242);
}

.wd-for-you:after,
.wd-trending:after,
.wd-covid:after,
.wd-news:after,
.wd-sports:after,
.wd-entertainment:after {
    content: "";
    display: inline-block;
    width: 100%;
}

.wd-for-you:hover,
.wd-trending:hover,
.wd-covid:hover,
.wd-news:hover,
.wd-sports:hover,
.wd-entertainment:hover {
    background-color: rgba(217, 217, 217, 0.1);
}

.wd-bottom-row {
    display: inline-block;
    position: fixed;
    top: 14%;
    z-index: 3;
    height: 100%;
    width: 41.6%;
    border-top: 0.5px solid rgb(47, 51, 54);
    margin-left: 24.7%;
}

.wd-news-block {
    display: inline-block;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    height: 82px;
    width: 80%;
}

.wd-news-image-block {
    display: inline-block;
    position: relative;
    padding-top: 15px;
    padding-left: 15px;
    height: 105px;
    width: 80%;
}

.wd-news-section {
    color: rgb(110, 118, 125);
    font-size: 13px;
    padding-bottom: 4px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.wd-news-topic {
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 4px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.wd-news-tweets {
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.wd-news-image {
    position: fixed;
    right: 16px;
    width: 39%;
}

.wd-news-image-format {
    width: 84.4px;
    height: 84.4px;
    border-radius: 12px;
    object-fit: cover;
    object-position: 50% 50%;
}

.wd-account {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.wd-account-icon {
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 12px;
    margin-right: 4px;
    top: 3px;
}

.wd-account-verified {
    position: relative;
    fill: white;
    height: 16px;
    width: 16px;
    top: 3px;
}